.container {
    background-color: var(--bs-body-bg);
    width: 100%;
    height: 100%;
    padding: 1em;
    overflow: auto;
}

.nav_tab {
    display: flex;
    align-items: center;
    gap: .25em;
    border: 0 !important;  
}

.nav_tab svg {
    fill: var(--secundary-color);
}