/* Start: logo area */

.coontainer_auth {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.auth_item {
    display: flex;
    background-color: var(--bs-body-bg);
    width: 70%;
    height: 40em;
    border-radius: 2em;
    overflow: hidden;
    animation: slideIn .3s forwards;
    transition: 0.45s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: scale(0, 0);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}  

@media only screen and (max-width: 1440px) {
    .auth_item {
        width: 95%;
    }
}

@media only screen and (max-width: 425px) {
    .auth_item {
        background: transparent;
        box-shadow: none;
    }
}

.slogan_area {
    width: 100%;
    height: 100%;
    background-image: var(--gradient-color);
    position: relative;
}

.auth_form {
    width: 50em;
    height: 100%;
}

@media only screen and (max-width: 1024px) {

    .slogan_area {
        display: none;
    }

    .auth_item {
        width: 95%;
    }

    .auth_form {
        width: 100%;
    }
}

.logo_area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--bs-body-bg);
    position: absolute;
}

.logo_area svg {
    opacity: .1;
    position: absolute;
}

.logo_area h5 {
    font-size: 2.5em;
    margin: 0;
}

.logo_area p {
    width: 30em;
    margin: 0;
    padding: 0;
    opacity: .5;
    font-weight: 200;
    font-size: .9em;
}

/* End: logo area */

/* Start: Form area */

.icon_form img {
    margin-bottom: 2em;
}

.icon_form h4 {
    font-weight: 700;
}

.login_form label {
    width: 100%;
    margin-bottom: 2em;
    font-size: .8rem;
    font-weight: 400;
}

.login_form svg {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    margin: -2.8em auto;
    margin-left: 1em;
    opacity: .5;
    transition: all .5s ease-in-out;    
}

.login_form input {
    font-size: .86rem;
    margin-top: 0.5rem;
    padding-left: 3em !important;
    padding-right: 3em !important;
    transition: all .5s ease-in-out;
    font-weight: 400;
    display: flex;
}

.reveal_password {
    right: 5.5em;
    cursor: pointer;
    position: absolute;
} 

.reveal_password:hover svg {
    opacity: 1;
}

/* End: Form area */