.hospitals_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.hospitals_container .item {
    height: 16rem;
    border-radius: 1rem;
}

.insert_container {
    border: 0.15rem solid var(--bs-gray-400);
    cursor: pointer;
    overflow: hidden;
    padding: 0.2em;
    transition: all .2s ease-in-out;
}

.insert_container:hover {
    transform: scale(1.05);
}

.insert_body {
    background-color: var(--bs-gray-400);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.insert_body svg {
    width: 50%;
    fill: var(--bs-body-bg);
}

.hospital_area {
    /*border: 0;*/
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; */
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.register_hospital {
    color: var(--primary-color);
    border: 0;
}

.modal_header_bg,
.modal_footer_bg {
    background: var(--bs-gray-100) !important;
    display: flex;
    justify-content: space-between;    
}

.modal_footer_bg input,
.modal_footer_bg button {
    margin: 0 !important;
    width: 33%;    
}

.cancel {
    background-color: transparent !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.register_form label {
    width: 50%;
    text-align: start;
    font-size: .8rem;
    font-weight: 400;
    padding: 1rem;
}

.register_form input {
    font-size: .8rem;
    font-weight: 400;    
}

