.hospitals_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.hospitals_container .item {
    height: 15rem;
    border-radius: .5rem;
}

.insert_container {
    border: 0.15rem solid var(--bs-gray-400);
    cursor: pointer;
    overflow: hidden;
    padding: 0.2em;
    transition: all .2s ease-in-out;
}

.insert_container:hover {
    transform: scale(1.05);
}

.insert_body {
    background-color: var(--bs-gray-400);
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.insert_body svg {
    width: 50%;
    fill: var(--bs-body-bg);
}

/* Start: Hospital card */

/* Identity  hospital */

.identity {
    display: flex;
    flex-direction: column;
    word-break: break-all;
    height: 7em;
}

.identity p {
    color: var(--bs-gray-500);
    font-size: .8rem;
    padding: 1em;
    padding-left: 0;
}

.identity h5 {
    color: var(--font-dark);
    margin: 0;
}

/* Actions */
.actions {
    background-color: transparent;
    width: 1.5em;
    margin-right: 0.5rem;
    display: flex;
    align-items: flex-end;
}

.actions ul {
    display: flex;
    flex-direction: column;
}

.actions li {
    margin: .3em;
}

.actions li a {
    cursor: pointer;
    width: 2.2em;
    height: 2.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: .1rem solid transparent;
}

.actions li svg {
    fill: var(--secundary-color);
}

.actions li a:hover {
    transform: scale(1.1);
}

/* End: Hospital card */

.info li {
    color: var(--bs-gray-600);
}

.loading_hospital {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;   
}