.alert {
    width: 100%;
    max-width: 340px;
    top: 0;
    left: 0;
    min-height: 4em;
    position: absolute;
    z-index: 1100;
    margin: 0.5em;
    border-radius: 0.5em;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 0.5s forwards;   
}

.error.alert {
    background: var(--bs-danger);
}

.success.alert {
    background: var(--bs-success);
}

@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

.hide {
    animation: slideOut 0.5s forwards;
}

@keyframes slideOut {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-100%);
    }
}

.alert_header {
    right: 5px;
    position: absolute;
    z-index: 5;
    margin: 5px auto;
    top: 0;
}

.alert_body {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5em;
    color: var(--font-default);
    font-weight: 300;    
}

.icon_area {
    width: 3em;
    height: 3em;
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5em;
    margin-left: 0.5em;
    fill: #fff;
    border-radius: 0.5em;
}

.success .icon_area {
    background: var(--bs-body-bg);
    fill: var(--bs-success);
    opacity: .5;
}

.error .icon_area {
    background: var(--bs-body-bg);
    fill: var(--bs-danger);
    opacity: .5;
}

.icon_area svg {
    width: 2em;
    position: absolute;
}

.message_area {
    width: 70%;
}

.message_area p {
    margin: 0;
    line-height: 1.2;
    font-size: .75rem;
}


