.submit_logout {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background: var(--active-shadow);
    border: 0;    
}

.submit_logout button {
    margin: 0 !important;
    width: 33%;
    background: var(--font-default) !important;
    color: var(--secundary-color) !important;
    border: 1px solid var(--font-default) !important;
    transition: all .2s ease-in-out;
}

.submit_logout button:hover {
    transform: scale(1.05);
}

.submit_logout .cancel {
    background-color: transparent !important;
    color: var(--font-default) !important;
}