.container_navbar {
    display: flex;
    justify-content: space-between;
}

/*Start: Open/close sidebar menu*/

.menu_open button {
    width: 4.2em;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;    
    border-radius: .5rem;
    background-color: var(--secundary-color);
    box-shadow: 0 2px 22px 0 rgba(0,0,0,.1), 0 4px 20px 0 rgba(0,0,0,.15);    
}

@media only screen and (max-width: 768px) {
    .menu_open button {
        width: 62px;
        height: 55px;
    }
}

/*Start: tools area */

.tools {
    position: relative;
    width: 100%;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 0 !important;
    gap: 1rem;
}

.tools_item {
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: center;
    cursor: pointer;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.tools_item svg {
    width: 1.7em;
    fill: var(--secundary-color);
}

.tools_item:hover svg {
    fill: var(--bs-gray-400);
}

.auth_item {
    border: .1rem solid var(--secundary-color);
}

.auth_item svg {
    width: 1.2em;
}

.auth_item:hover {
    border: .1rem solid var(--bs-gray-400);
}

/*End: tools area */