.sidebar {
    animation: slideIn .3s forwards;
    transition: 0.45s ease-in-out;
    z-index: 5;   
}

@media only screen and (max-width: 768px) {
    .sidebar {
        position: absolute;
    }
}

@keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
}

.sidebar_left {
    background-image: var(--gradient-color);
    height: 75vh;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar_left svg {
    fill: #fff;
    transition: .1s ease-in;
}

.sidebar_left p {
    color: #fff;
}

.container_nav {
    display: grid;
    grid-auto-rows: minmax(70px, auto);
    grid-gap: 0px;
}

@media only screen and (max-width: 768px) {
    .container_nav {
        grid-auto-rows: minmax(65px, auto);
    }
}

.item {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.item a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.item:hover svg {
    transform: scale(1.12);
}

.logo_nav {
    min-width: 4.2em;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .logo_nav {
        min-width: 62px;
    }
}

.text_nav {
    display: none;
    width: 100%;
    font-weight: 300;
}

.text_nav p {
    margin: 0;
    font-size: .9rem;
}

.expand .container_nav {
    grid-template-columns: 260px;
}

.expand .text_nav {
    display: block;
    margin: 0;
}

.expand_button {
    cursor: pointer;
    animation: slide .1s linear;
    transition: 0.2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;      
}

@keyframes slide {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
}

.expand_button svg {
    transform: scaleX(-1);
}

.expand .expand_button {
    padding-left: 70% !important;
}

.expand .expand_button svg {
    transform: scaleX(1);
}

.background_icon {
    position: relative;
    width: 3em;
    height: 3em;
    background: var(--active-shadow);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}