.login_form {
    display: flex;
    flex-direction: column;
}

.login_form svg {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    margin: -3em auto;
    margin-left: 1em;
    fill: var(--font-default);
    opacity: .5;
    transition: all .5s ease-in-out;    
}

.login_form label {
    text-align: start;
    margin-bottom: 1rem;
    font-size: .75rem;
    font-weight: 300;
}

.login_form input {
    margin-top: 0.5rem;
    border: 1px solid transparent;
    background: var(--active-shadow);
    color: var(--font-default);
    padding-left: 2.5em !important;
    padding-right: 2.5em !important;
    transition: all .5s ease-in-out;
    font-weight: 300;
}

.login_form input:focus {
    color: var(--font-default) !important;
    border: 1px solid var(--font-default);
    
}

.login_form input:focus + svg {
    opacity: 1;
}

.login_form input::placeholder {
    color: var(--font-default) !important;
    opacity: .5;
}

.login_form input[type="submit"], .login_form button {
    border: none !important;
    background: var(--font-default) !important;
    color: var(--secundary-color) !important;
    padding-left: .8rem !important;
    padding-right: .8em !important;
    font-weight: 400;
    height: 3em;
}

.login_form input[type="submit"]:focus {
    color: var(--secundary-color) !important;
}

.auth {
    background: var(--gradient-color);
    color: var(--font-default);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 300;
    font-size: .8rem;    
}

.warning {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: .7rem;
    right: 1rem;
    position: absolute;
}

.warning li {
    display: flex;
    margin-top: 0.1rem;
    align-items: center;
    color: #eeff69;    
}

.warning li > svg {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.25rem;  
    position: relative !important;  
    fill: #eeff69 !important;
    opacity: 1;
}

.warning li > p {
    margin: 0;
}

.reveal_password {
    right: 5.5em;
    cursor: pointer;
    position: absolute;
} 

.reveal_password:hover svg {
    opacity: 1;
}

