:root {
    --primary-color: #3358f4;
    --secundary-color: #1d8cf8;
    --gradient-color: linear-gradient(0deg,var(--primary-color),var(--secundary-color));
    --font-default: #fff;
    --font-dark: #3f3f3f;
    --background-default: #f5f6fa;
    --active-shadow: #ffffff26;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--background-default);
    width: 100%; 
    height: 100%;
    position: absolute;
    overflow-x: hidden;
}

/* Start: Font */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--bs-gray-800);
}

p {
    color: var(--bs-gray);
}

/* End: Font */

#root {
    height: 100%;
}

.main {
    display: flex;
}

.active {
    background-color: var(--active-shadow);
}

/* Start: Customizar formulário */

input[type="submit"], input[type="cancel"], button.form-control {
    background: var(--primary-color);
    color: var(--font-default);
    border: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 2em !important;
    font-size: 1rem !important;
    height: 3rem;
    padding: 0 !important;
    justify-content: center;  
    text-align: center;
    cursor: pointer;
    caret-color: transparent;
}

.form-control:focus {
    background-color: transparent;
    outline: 0;
    box-shadow: none;
    border: 1px solid var(--secundary-color);
    color: var(--secundary-color);
}

input:focus {
    outline: none;
    border-color: var(--font-default);
}  

.btn-close:focus {
    box-shadow: none;
}

input {
    padding: 0.8rem !important;
}

input[type="submit"]:hover {
    opacity: .8;
}

.spinner-border {
    color: var(--primary-color)
}

/* Ends: Customizar formulário */

/* Start: Customizar button */

.small-button {
    border: 0;
    background: transparent;
    padding: 0;
    position: absolute !important;
    right: 0.5em !important;
}

.small-button i {
    font-size: 2em;
    color: var(--font-dark);
}

.small-button:hover i {
    opacity: .5;
    transform: scale(1.1) !important;
}

/* End: Customizar button */

/* Start: Modal custom */

.modal_custom {
    background: var(--gradient-color);
    color: var(--font-default);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 300;
    font-size: .8rem;    
}

.modal_custom p {
    margin: 1rem auto;   
}

/* End: Modal custom */

#logout-modal p {
    color: var(--font-default);
    font-weight: 300;
    font-size: 1.2em;
}

/* Start:Checkbox custom */

.switch {
    position: relative;
    display: inline-block;
    width: 60px !important;
    height: 34px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* End:Checkbox custom */

input::placeholder {
    opacity: .65 !important;
}

/* Start: Warning */

.error-message {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: .7rem;
    right: 1rem;
}

.error-message li {
    display: flex;
    margin-top: 0.1rem;
    align-items: center;
    color: var(--bs-danger);    
}

.error-message li > svg {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.25rem;  
    position: relative !important;  
    fill: var(--bs-danger) !important;
    opacity: 1;
}

.error-message p {
    margin: 0;
}

/* End: Warning */

/* Others */

hr {
    border-top: 0.1rem solid #000;
    width: 36%; 
}
