:root {
    --primary-color: #3358f4;
    --secundary-color: #1d8cf8;
    --gradient-color: linear-gradient(0deg,var(--primary-color),var(--secundary-color));
    --font-default: #fff;
    --font-dark: #000;
    --background-default: #f5f6fa;
    --active-shadow: #ffffff26;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
    --bs-success: #00bf9a;
    --bs-danger: #fd77a4;
    --bs-warning: #ff9f89; 
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--background-default);
    width: 100%; 
    height: 100%;
    position: absolute;
    overflow-x: hidden;
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)!important;
}

/* Start: Font */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--bs-gray-600);
}

p {
    color: var(--bs-gray);
    font-weight: 400;
}

/* End: Font */

#root {
    height: 100%;
}

.main {
    display: flex;
}

.active {
    background-color: var(--active-shadow);
}

/* Start: Customizar formulário */

.border-danger {
    border-color: var(--bs-danger) !important;
}

input[type="submit"], input[type="cancel"], button.form-control {
    background: var(--primary-color);
    color: var(--font-default);
    border: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 2em !important;
    font-size: 1rem !important;
    height: 2.6rem;
    padding: 0 !important;
    justify-content: center;  
    text-align: center;
    cursor: pointer;
    caret-color: transparent;
    font-weight: 300;
}

input[type="cancel"] {
    font-weight: 400;
}

.form-control:focus,
.form-select:focus {
    outline: 0;
    box-shadow: none;
}

button.form-control:focus {
    color: var(--font-default);
    background: var(--secundary-color);
}

button.form-control:focus svg,
button.form-control:focus g {
    fill: var(--font-default);
}

input:focus {
    outline: none;
    border-color: var(--font-default);
}  

.btn-close:focus {
    box-shadow: none;
}

input {
    padding: 0.8rem !important;
}

input[type="submit"]:hover {
    opacity: .8;
}

.spinner-border {
    color: var(--primary-color)
}

/* Ends: Customizar formulário */

/* Start: Customizar button */

.small-button {
    border: 0;
    background: transparent;
    padding: 0;
    position: absolute !important;
    right: 0.5em !important;
}

.small-button i {
    font-size: 2em;
    color: var(--font-dark);
}

.small-button:hover i {
    opacity: .5;
    transform: scale(1.1) !important;
}

/* End: Customizar button */

/* Start: Modal custom */

.modal_custom {
    background: var(--gradient-color);
    color: var(--font-default);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 300;
    font-size: .8rem;    
}

.modal_custom p {
    margin: 1rem auto;   
}

.modal_header_bg,
.modal_footer_bg {
    display: flex;
    justify-content: space-between;
}

.modal_header_bg h5 {
    font-weight: 400;
}

.modal_header_bg svg {
    fill: var(--bs-gray-600);
}

.modal_footer_bg input,
.modal_footer_bg button {
    margin: 0 !important;
    width: 23%;    
}

.cancel {
    background-color: transparent !important;
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.register_form label {
    margin-bottom: 1em;
    font-size: .8rem;
    font-weight: 400;
}

.register_form .card-body input,
.register_form .modal-body input,
.register_form .card-body select,
.register_form .modal-body select {
    font-size: .86rem;
    margin-top: 0.25rem;
    transition: all .5s ease-in-out;
    background-color: transparent;
    color: var(--bs-gray);
    font-weight: 400;
    display: flex;
    height: 3em;   
}

/* End: Modal custom */

#logout-modal p {
    color: var(--font-default);
    font-weight: 300;
    font-size: 1.2em;
}

/* Start:Checkbox custom */

.switch {
    position: relative;
    display: inline-block;
    width: 60px !important;
    height: 34px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25rem;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* End:Checkbox custom */

input::placeholder {
    opacity: .65 !important;
}

/* Start: Warning */

.error-message {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: .7rem;
    right: 1rem;
}

.error-message li {
    display: flex;
    margin-top: 0.1rem;
    align-items: center;
    color: var(--bs-danger);    
}

.error-message li > svg {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.25rem;  
    position: relative !important;  
    fill: var(--bs-danger) !important;
    opacity: 1;
}

.error-message p {
    margin: 0;
    color: var(--bs-danger);
}

/* End: Warning */

/* Others */

hr {
    border-top: 0.1rem solid #000;
    width: 36%; 
}

/* Start: NavButton */

.nav_button > span {
    display: block;
    width: 32px;
    height: 2px;
    border-radius: 9999px;
    background-color: var(--bs-body-bg);
}

.nav_button > span:not(:last-child) {
    margin-bottom: 7px;
}

.nav_button, .nav_button > span {
    transition: all .2s ease-in-out;
}

.nav_button.active {
    transition-delay: 0.4s;
    transform: rotate(45deg);
    background: transparent;
}

.nav_button.active > span:nth-child(2) {
    width: 0;
}

.nav_button.active > span:nth-child(1),
.nav_button.active > span:nth-child(3) {
    transition-delay: .2s;
}

.nav_button.active > span:nth-child(1) {
    transform:translateY(9px);
}

.nav_button.active > span:nth-child(3) {
    transform:translateY(-9px) rotate(90deg);
}

/*End: NavButton*/

/* Start: NavButton */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #f4f4f5;
    color: var(--font-dark);
    fill: var(--font-dark) !important;
}

/* End: NavButton */

/* Start: Navbar */

.nav-tabs .nav-link.active {
    color: var(--secundary-color);
}

.nav-tabs .nav-link.active svg {
    fill: var(--secundary-color);
}

.nav-tabs .nav-link {
    color: var(--bs-gray-500);
}

.nav-tabs .nav-link svg {
    fill: var(--bs-gray-500);
}

/* End: Navbar */

/* Estiliza a barra de rolagem */
/* Largura e cor da barra de rolagem */
::-webkit-scrollbar {
    width: .5em;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px; /* Bordas arredondadas */
}

/* Cor da alça da barra de rolagem */
::-webkit-scrollbar-thumb {
background-color: var(--bs-gray-300);
border-radius: 5px; /* Bordas arredondadas */
}

/* Ao passar o mouse sobre a área */
::-webkit-scrollbar-thumb:hover {
background-color: var(--bs-gray-500);
}